---
import { features } from "$/constants/index";
import FeatureCard from "$/molecules/FeatureCard.astro";
---

<section class="bg-space text-light relative w-screen">
  <div class="py-section container grid w-full grid-cols-12 gap-24">
    <div class="col-span-6 space-y-[40vh]">
      {features.map((feature) => <FeatureCard feature={feature} />)}
    </div>
    <div class="col-span-6">
      <div class="sticky top-[50%]">
        <div class="w-full rounded-sm bg-white/10 p-8">3D Model of Product</div>
      </div>
    </div>
  </div>
</section>
