---
import FeatureCard from "$/molecules/FeatureCard.astro";
import { features } from "$/data/constants";
---

<section class="relative w-screen bg-space text-light">
  <div class="container grid w-full grid-cols-12 gap-24 py-section">
    <div class="col-span-6 space-y-[40vh]">
      {features.map((feature) => <FeatureCard feature={feature} />)}
    </div>
    <div class="col-span-6">
      <div class="sticky top-[50%]">
        <div class="w-full rounded-sm bg-white/10 p-8">3D Model of Product</div>
      </div>
    </div>
  </div>
</section>
