---
import PurchaseLink from "$/atoms/PurchaseLink.astro";
---

<section class="container relative mb-32 mt-section flex flex-col items-center">
  <h2
    class="mb-6 text-nowrap font-norwester text-level-5 uppercase text-sw-yellow drop-shadow">
    Control Your Saber Like Never Before
  </h2>
  <p class="mb-8 max-w-[55ch] text-center text-level-1">
    Whether you're seeking calm or embracing intensity, our tethered blades let
    you unleash incredible hands-free saber strikes.
  </p>
  <PurchaseLink preload styles="px-16 py-5 text-level-2">
    Claim your blade
  </PurchaseLink>
  <!-- Video Placeholder -->
  <div
    class="mt-24 flex aspect-video w-full items-center justify-center rounded-sm bg-space">
    Video Placeholder
  </div>
</section>
