---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Saber X Force | Contact Us">
  <section
    class="container relative z-10 mt-section flex flex-col items-center"
  >
    <div
      class="flex w-full rounded-sm border-[1px] border-black bg-black/75 p-8 backdrop-blur-xl"
    >
      <div class="text-heading font-norwester w-1/2 uppercase">FAQ</div>
      <form class="text-heading font-norwester uppercase">Send us a holo</form>
    </div>
  </section>
</BaseLayout>
