---
import { Image } from 'astro:assets';
import logo from '@/assets/logo.png';
import PurchaseLink from './PurchaseLink.astro';
---

<header
  class="astro-font-roboto sticky top-0 z-10 -mb-20 h-20 w-full bg-black/70 backdrop-blur-lg"
>
  <div class="container flex h-full items-center justify-between">
    <a href="/" class="flex items-center">
      <Image src={logo} alt="SXF logo" width={104} class="rounded-sm" />
      <div class="ml-4">
        <p class="astro-font-norwester text-subtitle">SABERXFORCE</p>
        <p class="text-min">The ultimate saber blade</p>
      </div>
    </a>
    <nav>
      {
        [
          ['/', 'Home'],
          ['contact', 'Contact'],
        ].map((link) => (
          <a href={link[0]} class="group relative mr-4 px-4 py-2">
            {link[1]}
            <span class="absolute bottom-0 left-2 mx-auto h-[2px] w-[0%] bg-sw-yellow transition-all group-hover:w-[80%]" />
          </a>
        ))
      }
      <PurchaseLink preload>Buy now</PurchaseLink>
    </nav>
  </div>
</header>
