---
const { preload, styles } = Astro.props;
---

<a
  href="purchase"
  class:list={[
    "rounded-sm border border-sw-yellow font-norwester uppercase leading-none text-dark shadow-[inset_0_0_40px_40px_rgb(255,232,31),0_0_0_rgb(255,232,31)] transition-all duration-200 ease-in-out hover:text-sw-yellow hover:shadow-[inset_0_0_10px_rgb(255,232,31),0_0_10px_4px_rgb(255,232,31)]",
    { "astro-font-norwester": preload },
    styles,
  ]}>
  <slot />
</a>
