---
import { Image } from "astro:assets";
import logo from "$/assets/images/logo.png";
import PurchaseLink from "$/atoms/PurchaseLink.astro";
---

<header
  class="astro-font-roboto sticky top-0 z-50 -mb-20 h-20 w-full border-b border-black bg-black/70 backdrop-blur backdrop-brightness-75">
  <div class="container flex h-full items-center justify-between">
    <a href="/" class="flex items-center">
      <Image src={logo} alt="SXF logo" width={104} class="rounded-sm" />
      <div class="ml-4 mt-1">
        <h1 class="astro-font-norwester text-level-1">SABERXFORCE</h1>
        <p class="text-base">The ultimate saber blade</p>
      </div>
    </a>
    <nav>
      {
        [
          ["/", "Home"],
          ["/contact", "Contact"],
        ].map((link) => (
          <a href={link[0]} class="group relative mr-4 px-4 py-2">
            {link[1]}
            <span class="bg-sw-yellow absolute bottom-0 left-2 mx-auto h-0.5 w-[0%] transition-all group-hover:w-[80%]" />
          </a>
        ))
      }
      <PurchaseLink preload styles="px-6 py-2">Buy now</PurchaseLink>
    </nav>
  </div>
</header>
