<section class="container relative z-10 mt-section flex flex-col items-center">
  <h1
    class="font-norwester mb-6 text-nowrap text-title uppercase text-sw-yellow drop-shadow"
  >
    Control Your Saber Like Never Before
  </h1>
  <p class="max-w-[65ch] text-center">
    Whether you're seeking calm or embracing intensity, our saber blade helps
    you master every move with perfect balance.
  </p>
</section>
